<%- include('../../views/partials/user/header')%>
    <script src="https://cdn.tailwindcss.com"></script>

    <body class="bg-[#1F1F1F] text-white">
        <div class="flex flex-col md:flex-row min-h-screen p-4 md:p-0">
            <!-- Sidebar -->
            <div class="w-full md:w-1/4 bg-black p-6 m-4 rounded-xl flex flex-col md:h-screen">
                <h2 class="text-lg font-bold mb-4">SETTINGS</h2>
                <ul>
                    <li class="mb-2 text-[#88903F]"><a href="/profile">Personal Info</a></li>
                    <li class="mb-2 text-gray-400 hover:text-white"><a href="/address">Address</a></li>
                    <li class="mb-2 text-gray-400 hover:text-white"><a href="/address">Address</a></li>
                    <li class="mb-2 text-gray-400 hover:text-white">Wallet</li>
                    <% if (!userDatas || Object.keys(userDatas).length===0) { %>
                        <button class="mt-10 bg-orange-500 w-full py-2  rounded"><a href="/login">Login</a></button>
                        <% } %>
                </ul>
                <% if (userDatas && Object.keys(userDatas).length> 0) { %>
                    <button class="bg-orange-500 w-full py-2 mt-auto rounded"><a href="/logout">Logout</a></button>
                    <% } %>
            </div>

            <div class="flex-1 flex justify-center p-4 md:p-10">
                <div class="w-full max-w-3xl bg-[#1F1F1F] p-6 rounded-lg border border-gray-700">
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="text-xl font-bold">ENTER NEW PASSWORD</h2>
                    </div>
                    <form action="/profilePasswordSaving" method="post" onsubmit="return validation()">
                        
                            <label class="block mb-2">New Password:</label>
                            <input type="password" name="password" id="password" placeholder="Enter password"
                                class="w-full p-2 bg-gray-700 border border-gray-600 rounded focus:ring-2 focus:ring-yellow-400">
                            <div id="password-error" class="text-red-500 text-sm mt-1 hidden"></div>
                            <label class="block mb-2">Confirm Password:</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter confirm password"
                                class="w-full p-2 bg-gray-700 border border-gray-600 rounded focus:ring-2 focus:ring-yellow-400">
                            <div id="repass-error" class="text-red-500 text-sm mt-1 hidden"></div>

                        
                        <button type="submit"
                            class="mt-10 bg-yellow-500 w-full py-2 rounded hover:bg-yellow-600 transition">SUBMIT</button>
                    </form>

                </div>
            </div>
        </div>

    </body>
    <script>
        function validation(){
            clearErrorMessages();
            let isValid=true;
            const password= document.getElementById('password').value.trim();
            const rePass=document.getElementById('confirmPassword').value.trim();
            const passPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if(password===""){
                showError("password-error", "Please enter the password");
                isValid = false;
            }
            else if(password.length <8){
                showError("password-error","Should contain atleast 8 characters");
                isValid=false;
            }
            else if(!passPattern.test(password)){
                showError("password-error","Should contain one number, one uppercase letter, one lowercase letter, and one symbol");
                isValid=false;
            }
            if(rePass===""){
                showError("repass-error","Please enter the confirm password");
                isValid=false;
            }
            else if(password!==rePass){
                showError('repass-error',"Password donot match")
                isValid=false;
            }
            return isValid;

        }
        
        function showError(elementId, message) {
                const errorElement = document.getElementById(elementId);
                if (errorElement) {
                    errorElement.textContent = message;
                    errorElement.classList.remove('hidden');
                }
            }

            function clearErrorMessages() {
                document.querySelectorAll('[id$="-error"]').forEach(el => {
                    el.textContent = '';
                    el.classList.add('hidden');
                });
            }
    </script>

    <%- include('../../views/partials/user/footer')%>